# CS5002: Programming Principles and Practice

## Practical P3: Data analysis and visualisation Python

In [1]:
import json
import pandas as pd

We start with exploring the content of the dataset.

In [2]:
df = pd.read_csv("../data/census-2021-public-microdata-teaching-sample.csv")

In [3]:
df

,SerialNum,AGE_BAND_AGG8,COB_AGG3,ECONOMIC_ACTIVITY_10M,ETHNIC_GROUP_AGG2,HEALTH_IN_GENERAL,FAMILY_TYPE,HH_SOCGRADE4,HOURS_PER_WEEK_WORKED,IN_FULL_TIME_EDUCATION,INDUSTRY_CURRENT_10A,LEGAL_PARTNERSHIP_STATUS_6A,OCCUPATION_CURRENT_1DIGIT,RELIGION_BELONG_TO,RELIGION_BROUGHT_UP_IN,SEX,UR_RESIDENCE_TYPE
0,1,2,1,1,1,2,4,3,2,2,8,1,4,1,-8,1,1
1,2,7,1,1,1,5,2,-8,1,2,8,2,2,3,-8,2,1
2,3,7,1,5,1,4,2,-8,-8,2,-8,2,-8,1,-8,2,1
3,4,7,1,7,1,1,2,-8,-8,2,-8,2,-8,8,2,1,1
4,5,3,1,1,1,2,2,3,4,2,4,1,8,1,-8,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16889,16890,6,1,1,1,3,1,4,3,2,7,1,9,2,-8,2,1
16890,16891,2,1,6,1,2,5,3,-8,1,-8,1,-8,1,-8,2,1
16891,16892,3,1,1,1,1,4,4,2,2,8,1,6,1,-8,1,1
16892,16893,6,1,3,1,4,2,4,-8,2,-8,2,-8,2,-8,1,1
16893,16894,1,1,-8,1,2,2,3,-8,-8,-8,-8,-8,7,4,1,1

Next, we read the JSON file with the interpretations of categories.

In [4]:
with open("../data/data_dictionary.json", "r") as read_file:
    labels = json.load(read_file)

In [5]:
labels

{'FAMILY_TYPE': {'1': 'Not in a family',
  '2': 'Married or civil partnership couple family',
  '3': 'Cohabiting couple family',
  '4': 'Lone parent family (female)',
  '5': 'Lone parent family (male)',
  '-8': 'No code required (CE residents)'},
 'UR_RESIDENCE_TYPE': {'1': 'Resident in a household',
  '2': 'Resident in a communal establishment'}}

In [6]:
labels['FAMILY_TYPE']['2']

'Married or civil partnership couple family'

## **Basic requirements**

For census data (df) - Check that length of data matches total row number table above

In [7]:
df['SerialNum']

0            1
1            2
2            3
3            4
4            5
         ...
16889    16890
16890    16891
16891    16892
16892    16893
16893    16894
Name: SerialNum, Length: 16894, dtype: int64

In [8]:
duplicate_rows = df[df.duplicated(keep=False)]
 
if not duplicate_rows.empty:
    print("Duplicate rows:")
    print(duplicate_rows)
else:
    print("No duplicate rows.")

No duplicate rows.

### **1. Refine the dataset - write, import, and run script for proper refinement**

**Import script**

In [9]:
from refine import refine_data

**Run Script**

In [10]:
#Define file paths
CSV_FILEPATH = "../data/census-2021-public-microdata-teaching-sample.csv"
JSON_FILEPATH = "../data/data_dictionary.json"

In [11]:
#Execute the data refinement function
print("\nStarting data refinement process...")
refined_df = refine_data(csv_filepath=CSV_FILEPATH, json_filepath=JSON_FILEPATH)
print("Data refinement complete.")

Starting data refinement process...
Loaded 16894 rows
Removed 0 duplicate rows
CE residents code '-8' replaced with NaN.
Created new column 'FAMILY_TYPE_LABEL' using dictionary mapping
Created new column 'UR_RESIDENCE_TYPE_LABEL' using dictionary mapping
Data refinement complete.

**Check new refined file**

In [12]:
#Display the first few rows of the refined data to verify
print("Refined Data Sample (First 5 Rows)")
display(refined_df.head())

Refined Data Sample (First 5 Rows)

,SerialNum,AGE_BAND_AGG8,COB_AGG3,ECONOMIC_ACTIVITY_10M,ETHNIC_GROUP_AGG2,HEALTH_IN_GENERAL,FAMILY_TYPE,HH_SOCGRADE4,HOURS_PER_WEEK_WORKED,IN_FULL_TIME_EDUCATION,INDUSTRY_CURRENT_10A,LEGAL_PARTNERSHIP_STATUS_6A,OCCUPATION_CURRENT_1DIGIT,RELIGION_BELONG_TO,RELIGION_BROUGHT_UP_IN,SEX,UR_RESIDENCE_TYPE,FAMILY_TYPE_LABEL,UR_RESIDENCE_TYPE_LABEL
0,1,2,1,1,1,2,4,3,2,2,8,1,4,1,<NA>,1,1,Lone parent family (female),Resident in a household
1,2,7,1,1,1,5,2,<NA>,1,2,8,2,2,3,<NA>,2,1,Married or civil partnership couple family,Resident in a household
2,3,7,1,5,1,4,2,<NA>,<NA>,2,<NA>,2,<NA>,1,<NA>,2,1,Married or civil partnership couple family,Resident in a household
3,4,7,1,7,1,1,2,<NA>,<NA>,2,<NA>,2,<NA>,8,2,1,1,Married or civil partnership couple family,Resident in a household
4,5,3,1,1,1,2,2,3,4,2,4,1,8,1,<NA>,2,1,Married or civil partnership couple family,Resident in a household

### **2. Descriptive Analysis**

**Total Number of Records**

In [13]:
total_records = len(refined_df)

In [14]:
print(f"The total number of records in the dataset is {total_records}")

The total number of records in the dataset is 16894

**Type of Each Variable in the Dataset**

In [15]:
refined_df.dtypes

SerialNum                       Int64
AGE_BAND_AGG8                   Int64
COB_AGG3                        Int64
ECONOMIC_ACTIVITY_10M           Int64
ETHNIC_GROUP_AGG2               Int64
HEALTH_IN_GENERAL               Int64
FAMILY_TYPE                     Int64
HH_SOCGRADE4                    Int64
HOURS_PER_WEEK_WORKED           Int64
IN_FULL_TIME_EDUCATION          Int64
INDUSTRY_CURRENT_10A            Int64
LEGAL_PARTNERSHIP_STATUS_6A     Int64
OCCUPATION_CURRENT_1DIGIT       Int64
RELIGION_BELONG_TO              Int64
RELIGION_BROUGHT_UP_IN          Int64
SEX                             Int64
UR_RESIDENCE_TYPE               Int64
FAMILY_TYPE_LABEL              object
UR_RESIDENCE_TYPE_LABEL        object
dtype: object

**Find all different values that it takes and the number of occurrences for each value** (except for SerialNum)

In [16]:
for col in refined_df.columns:
    if col != 'SerialNum':
        counts = df[col].value_counts() #source: Pokemons class example
        print(counts, "\n")

AGE_BAND_AGG8
1    3555
5    2295
4    2252
6    2192
3    2070
2    1685
7    1584
8    1261
Name: count, dtype: int64

COB_AGG3
1    14675
3     1118
2     1101
Name: count, dtype: int64

ECONOMIC_ACTIVITY_10M
 1    6181
-8    3555
 5    2679
 2    1133
 8     950
 7     707
 6     616
 9     402
 4     344
 3     327
Name: count, dtype: int64

ETHNIC_GROUP_AGG2
1    16334
2      560
Name: count, dtype: int64

HEALTH_IN_GENERAL
1    8508
2    4819
3    2311
4     959
5     297
Name: count, dtype: int64

FAMILY_TYPE
2    9632
1    2770
4    2631
3    1529
5     332
Name: count, dtype: int64

HH_SOCGRADE4
 2    4047
 4    3469
-8    3317
 3    3262
 1    2799
Name: count, dtype: int64

HOURS_PER_WEEK_WORKED
-8    9307
 3    4536
 2    1575
 1     775
 4     701
Name: count, dtype: int64

IN_FULL_TIME_EDUCATION
 2    12401
 1     3547
-8      946
Name: count, dtype: int64

INDUSTRY_CURRENT_10A
-8    9307
 8    2565
 5    1564
 7    1050
 4     660
 2     646
 6     556
 9     270
 1     183
 3      93
Name: count, dtype: int64

LEGAL_PARTNERSHIP_STATUS_6A
 2    6225
 1    4942
-8    3555
 4     851
 5     821
 3     500
Name: count, dtype: int64

OCCUPATION_CURRENT_1DIGIT
-8    9307
 2    1587
 5     982
 4     855
 6     783
 9     738
 1     702
 3     696
 7     676
 8     568
Name: count, dtype: int64

RELIGION_BELONG_TO
1    7113
7    2949
2    2801
3    1987
5    1188
4     396
8     247
6     213
Name: count, dtype: int64

RELIGION_BROUGHT_UP_IN
-8    13698
 4     1532
 2     1056
 1      584
 3       24
Name: count, dtype: int64

SEX
1    8648
2    8246
Name: count, dtype: int64

UR_RESIDENCE_TYPE
1    16894
Name: count, dtype: int64

KeyError: 'FAMILY_TYPE_LABEL'

### **3. Plots**

**Bar chart for the number of records for each age category**

In [ ]:
%matplotlib inline
import matplotlib.pyplot as plt

In [ ]:
agecat_records = refined_df.groupby(['AGE_BAND_AGG8'])['AGE_BAND_AGG8'].count()
agecat_records

In [ ]:
agecat_records.plot(kind="bar", legend=False)
plt.xlabel('Age Bands')
plt.ylabel('Count')
plt.title('Ages')
plt.show()

**Bar Chart for the number of records for each economic activity caterory**

In [ ]:
econ_records = refined_df.groupby(['ECONOMIC_ACTIVITY_10M'])['ECONOMIC_ACTIVITY_10M'].count()
econ_records

In [ ]:
econ_records.plot(kind="bar", legend=False)
plt.xlabel('Economic Activity Categories')
plt.ylabel('Count')
plt.title('Economic Activity (10M)')
plt.show()