# CS5002: Programming Principles and Practice

## Practical P3: Data analysis and visualisation Python

In [1]:
import json
import pandas as pd

We start with exploring the content of the dataset.

In [2]:
df = pd.read_csv("../data/census-2021-public-microdata-teaching-sample.csv")

In [3]:
df

,SerialNum,AGE_BAND_AGG8,COB_AGG3,ECONOMIC_ACTIVITY_10M,ETHNIC_GROUP_AGG2,HEALTH_IN_GENERAL,FAMILY_TYPE,HH_SOCGRADE4,HOURS_PER_WEEK_WORKED,IN_FULL_TIME_EDUCATION,INDUSTRY_CURRENT_10A,LEGAL_PARTNERSHIP_STATUS_6A,OCCUPATION_CURRENT_1DIGIT,RELIGION_BELONG_TO,RELIGION_BROUGHT_UP_IN,SEX,UR_RESIDENCE_TYPE
0,1,2,1,1,1,2,4,3,2,2,8,1,4,1,-8,1,1
1,2,7,1,1,1,5,2,-8,1,2,8,2,2,3,-8,2,1
2,3,7,1,5,1,4,2,-8,-8,2,-8,2,-8,1,-8,2,1
3,4,7,1,7,1,1,2,-8,-8,2,-8,2,-8,8,2,1,1
4,5,3,1,1,1,2,2,3,4,2,4,1,8,1,-8,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16889,16890,6,1,1,1,3,1,4,3,2,7,1,9,2,-8,2,1
16890,16891,2,1,6,1,2,5,3,-8,1,-8,1,-8,1,-8,2,1
16891,16892,3,1,1,1,1,4,4,2,2,8,1,6,1,-8,1,1
16892,16893,6,1,3,1,4,2,4,-8,2,-8,2,-8,2,-8,1,1
16893,16894,1,1,-8,1,2,2,3,-8,-8,-8,-8,-8,7,4,1,1

Next, we read the JSON file with the interpretations of categories.

In [4]:
with open("../data/data_dictionary.json", "r") as read_file:
    labels = json.load(read_file)

In [5]:
labels

{'FAMILY_TYPE': {'1': 'Not in a family',
  '2': 'Married or civil partnership couple family',
  '3': 'Cohabiting couple family',
  '4': 'Lone parent family (female)',
  '5': 'Lone parent family (male)',
  '-8': 'No code required (CE residents)'},
 'UR_RESIDENCE_TYPE': {'1': 'Resident in a household',
  '2': 'Resident in a communal establishment'}}

In [6]:
labels['FAMILY_TYPE']['2']

'Married or civil partnership couple family'

## **Basic requirements**

For census data (variable df) - Check that the data match expected format by checking that total equals to the sum of stats in each row

In [7]:
df['SerialNum']

0            1
1            2
2            3
3            4
4            5
         ...
16889    16890
16890    16891
16891    16892
16892    16893
16893    16894
Name: SerialNum, Length: 16894, dtype: int64

In [10]:
duplicate_rows = df[df.duplicated(keep=False)]
 
if not duplicate_rows.empty:
    print("Duplicate rows:")
    print(duplicate_rows)
else:
    print("No duplicate rows.")

No duplicate rows.

Detect duplicate rows